/node_modules
/public/allCountries.txt
/public/hot
/public/storage
/public/avatars
/public/gray-cards
/public/identifications
/public/insurrances
/public/licences
/public/technicals
/public/vehicles
/public/test-cron.log
/public/upload
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
