// All widgets

.btn-primary {
    background-color: $rafitu-blue;
    border-color: $rafitu-blue;

    &:hover {
        background-color: darken($rafitu-blue, 3);
        border-color: darken($rafitu-blue, 3);
    }
}

.search-background {
    .text-white {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
}

.user-form {
    .row {
        label {
            display: flex;
            align-items: center;
        }
    }

    .required {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: .5rem;
            height: .5rem;
            background-image: url(../img/medical.png);
            background-size: cover;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.txt-rafitu {
    color: $rafitu-blue !important;
}
