// All widgets

.btn-primary {
    background-color: $rafitu-blue;
    border-color: $rafitu-blue;

    &:hover {
        background-color: darken($rafitu-blue, 3);
        border-color: darken($rafitu-blue, 3);
    }
}

.search-background {
    .text-white {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
}
