$rafitu-blue: #4c6dff;
$rafitu-blue-50p: rgba(76, 109, 255, .5);
$navigation-menu-text-color: #504e70;

@import 'widgets';
@import 'background';
@import 'booking';
@import 'home-stats';

.desktoplogo,
.desktoplogo-1 {
    a {
        display: block;
        background-color: #ffffff;
        padding: 2px;

        img {
            width: auto;
            height: 3.3rem;
        }
    }
}

.rafitu {
    .horizontalMenu {
        &>.horizontalMenu-list {
            &>li {
                &:hover {
                    &>a {
                        background-color: $rafitu-blue;
                        color: #ffffff;
                    }
                }

                &>a {
                    color: $navigation-menu-text-color;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .sticky-wrapper.is-sticky .horizontal-main::after {
        background-image: none;
        display: none;
    }
}

.rafitu-body {
    #back-to-top {
        background-color: $rafitu-blue;

        &:hover {
            background: #fff;
            color: $rafitu-blue;
            border: 2px solid $rafitu-blue;
        }
    }
}

.mini-map {
    width: 100%;
    height: 300px;
}

.rafitu .horizontalMenu > .horizontalMenu-list > li:hover > a .fa {
    background-color: transparent !important;
}
